<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            SCADA LIVE DATA
        </title>
    </head>
    <body>
        <div>
            <table class="table">
                
                <tr>
                    <th>GRID NAME</th>
                    <td>66 kV PANKHA ROAD GRID</td>
                </tr>
                <tr>
                    <th>GRID ID</th>
                    <td>DLDLHIJKPR6001</td>
                </tr>
                <tr>
                    <th>FEEDER NAME</th>
                    <td>11kV FDR RAGHU NAGAR (OLD)</td>
                </tr>
                <tr>
                    <th>EXTERNAL SCADA ID</th>
                    <td>PARD11B11181</td>
                </tr>
                <tr>
                    <th>LAST UPDATED TIME</th>
                    <td>16/06/21 17:38:39</td>
                </tr>
                <tr>
                    <th>BREAKER STATUS</th>
                    <td>OFF  </td>
                </tr>
                <tr>
                    <th>OVER CURRENT?</th>
                    <td>--</td>
                </tr>
                <tr>
                    <th>EARTH FAULT?</th>
                    <td>--</td>
                </tr>
                <tr>
                    <th>AUTOTRIP?</th>
                    <td>--</td>
                </tr>
                <tr>
                    <th>R-Y-B PH CURRENT</th>
                    <td>0 - 0 - 0.86 </td>
                </tr>
                <tr>
                    <th>RY - BR - YB Voltage</th>
                    <td>0 - 0 - 0</td>
                </tr>
                <tr>
                    <th>YESTERDAY PEAK / TIME</th>
                    <td>48.12 / 15-Jun-21 12:08:46 AM</td>
                </tr>
                <tr>
                    <th>LAST 30 DAYS PEAK / TIME</th>
                    <td>72.64 / 31-May-21 11:03:45 PM</td>
                </tr>
                <tr>
                    <th>IOMS DATA</th>
                    <td></td>
                </tr>
                <tr><th>DATA STATUS</th><td>NO DATA FOUND</td></tr>
            </table>
        </div>
    </body>
</html>