<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            SCADA LIVE DATA
        </title>
    </head>
    <body>
        <div>
            <table class="table">
                
                <tr>
                    <th>GRID NAME</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>GRID ID</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>FEEDER NAME</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>EXTERNAL SCADA ID</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>LAST UPDATED TIME</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>BREAKER STATUS</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>OVER CURRENT?</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>EARTH FAULT?</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>AUTOTRIP?</th>
                    <td>{}</td>
                </tr>
                <tr>
                    <th>R-Y-B PH CURRENT</th>
                    <td>{} - {} - {} </td>
                </tr>
                <tr>
                    <th>RY - BR - YB Voltage</th>
                    <td>{} - {} - {}</td>
                </tr>
                <tr>
                    <th>YESTERDAY PEAK / TIME</th>
                    <td>{} / {}</td>
                </tr>
                <tr>
                    <th>LAST 30 DAYS PEAK / TIME</th>
                    <td>{} / {}</td>
                </tr>
                <tr>
                    <th>IOMS DATA</th>
                    <td></td>
                </tr>
                {}
            </table>
        </div>
    </body>
</html>